/* Berkeley Morris colours---reds and burgundies */



body table.grid input.change {
    color: white;
	background-color: white;
}

body table.grid input.yes {
    color: green;
	background-color: #ffe5ff;
    font-weight: bold;
}

body table.grid input.maybe {
    color: black;
	background-color: #ffe5ff;
    font-weight: bold;
}

body table.grid input.no {
    color: red;
	background-color: #ffe5ff;
    font-weight: bold;
}

body table.grid input.unknown {
	background-color: #ffe5ff;
}


body {
    color: #C00000;
    font-family: Verdana,Arial,sans-serif;
    background: #ffd0ff;
    margin: 80px;
    /*max-width: 30em; */
}

.subcol {
    font-size: 75%;
}

.event-table .an-event {
    cursor:pointer;
}

.event-table .cell {
    text-align: center;
}
.event-table .cell-yes-no {
    display: none;
}
.event-table-notes .abbr-expl {
    display: none;
}

.event-listing .event-date {
    font-style: italic;
}

.event-detail thead td {
    text-align: center;
}

.event-detail tbody td {
    padding: 5px;
}
/* flexbox layout for main page */
.event-table-row {
  display: flex;           display: -webkit-flex;
  flex-direction: row;     -webkit-flex-direction: row;
  flex-grow: 0;            -webkit-flex-grow: 0;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid green;
  padding: 10px;
  margin: 4px;
}

.event-table-row:nth-child(even) {
  background-color: #ffd0ff;
}

/*  Wrappers around cells and other wrappers: flex, row, wrap */
.wrapper {
  display: flex;           display: -webkit-flex;
  flex-direction: row;     -webkit-flex-direction: row;
  flex-grow: 0;            -webkit-flex-grow: 0;
  flex-wrap: wrap;         -webkit-flex-wrap: wrap;
}

/*  Text based cells and wrappers: grow equally when there is extra space. */
.event-table-row .cell {
  flex-grow: 1;           -webkit-flex-grow: 1;
}

/*
.event-table .cell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
}
*/

/*  Fix the minimum width of the leaf level cells */
.event-table .cell-text {
  width: 140px;
}
.event-table .cell-stats {
  width: 60px;
  white-space: nowrap;
  margin-right: 10px;
  margin-left: 10px;
}

.event-table-notes {
    font-style: italic;
    font-size: 70%;
    color: grey;
}

/* borders for debugging */
/*
.wrapper {
  border: 1px solid green;
  padding: 2px;
  margin: 2px;
}
.event-table .cell {
  border: 1px solid red;
  margin: 2px;
}
*/

.grid-key {
    color: grey;
    font-style: italic;
    font-size: 80%;
}

#site-title {
    font-family: 'UnifrakturCook', cursive;
    font-size: 300%;
    float: left;
}
#site-title a {
    text-decoration: none;
    color: inherit;
    color: inherit;
}
#current-user {
    float: right;
}
#page-header-clear {
    clear: both;
}

#event-card {
    background: #ffe5ff;
    padding: 15px;
    border: 1px #f21e1e solid;
    -webkit-border-top-left-radius: 0.7em;
    -webkit-border-top-right-radius: 0.7em;
    -webkit-border-botton-left-radius: 0.7em;
    -webkit-border-botton-right-radius: 0.7em;
    -moz-border-radius-topleft: 0.7em;
    -moz-border-radius-topright: 0.7em;
    -moz-border-radius-bottomleft: 0.7em;
    -moz-border-radius-bottomright: 0.7em;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}

#event-card .event-name {
    font-size: 130%;
    font-weight: bold;
    float: left;
    margin-bottom: 10px;
}
#event-card .event-date-section {
    float: right;
}
#event-card .event-date {
    font-size: 110%;
    font-weight: bold;
}
#event-card .event-date-created {
    font-size: 80%;
    font-style: italic;
}

.edit-event-button {
    margin-top: 10px;
}
#event-card .event-queen {
    clear: both;
}

.login-card {
    background: #ffe5ff;
    padding: 15px;
    border: 1px #f21e1e solid;
    -webkit-border-top-left-radius: 0.7em;
    -webkit-border-top-right-radius: 0.7em;
    -webkit-border-botton-left-radius: 0.7em;
    -webkit-border-botton-right-radius: 0.7em;
    -moz-border-radius-topleft: 0.7em;
    -moz-border-radius-topright: 0.7em;
    -moz-border-radius-bottomleft: 0.7em;
    -moz-border-radius-bottomright: 0.7em;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    font-size: 150%;
}

.login-card form {
    margin: 30px;
}


/* ----------------------------- */
/*  stuff for the tabs           */
/* ----------------------------- */


#tabs {
    background: #ffd0ff;
    padding: 10px;
}

.ui-tabs .ui-tabs-hide {
    display: none;
}
#tabs .ui-tabs-nav {
    margin: 0;
    padding: 0 0 0 0.5em;
    overflow: hidden;
}
/*    background: #d0d0d0;  */
    /* background: #ffe5ff; */ /* pink */
#tabs .ui-tabs-nav li {
    float: left;
    list-style-type: none;
    margin: 0 0.5em 0 0;
    padding: 0.25em 1em;
}
#tabs .ui-tabs-active li.ui-tabs-active {
    background: #ffe5ff;
}

#tabs .ui-state-default {
    background: #d0d0d0;
    border-bottom: 1px #f21e1e solid;
}
#tabs .ui-tabs-panel {
    border: 1px #f21e1e solid;
}

#tabs .ui-state-active {
    background: #ffe5ff;
    /* border-bottom: none; */
    border-bottom: 1px #ffe5ff solid;
}
#tabs .ui-state-active a {
    cursor: text;
}

#tabs .ui-tabs-nav a {
    text-decoration: none;
    font-size: 1.2em;
}
#tabs .ui-tabs-panel {
    /* background: #e3e3e3; */
    padding: 0.75em 1em;
    background: #ffe5ff;
}
#tabs .ui-tabs-nav {
    margin-bottom: -1px;
}

#tabs .ui-tabs-nav li {
    border-top: 1px #f21e1e solid;
    border-left: 1px #f21e1e solid;
    border-right: 1px #f21e1e solid;
    /* border-bottom: 1px #f21e1e solid; */
    -webkit-border-top-left-radius: 0.7em;
    -webkit-border-top-right-radius: 0.7em;
    -moz-border-radius-topleft: 0.7em;
    -moz-border-radius-topright: 0.7em;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    padding: 0
}



/* make the whole thing clickable */
#tabs .ui-tabs-nav a {
    display: block;
    padding: 0.25em 1em;
}

/* otherwise the clicked-on tab stays highlighted
  http://stackoverflow.com/questions/13838377/jquery-ui-remove-orange-tab-border-on-focus
*/

#tabs li a {
    outline: none;
}

#site-instructions {
    padding-left: 10px;
    padding-right: 10px;
}

/* this is a <table> that has the scroll buttons:
 * | event name |<| grid |>| (17) |
 * | event name |<| grid |>| (14) |
 * */
.grid-table-wrapper {
    /* max-width: 600px; */
    margin-right: auto;
    margin-left: 0px;
    max-width: 90%; /* this is the right setting for it to include all the
                       columns, not completely sure why */
}
/* these are the columns in the grid-table-wrapper */
.grid-table-event-name-column {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
}
/* this is the actual grid */
.grid-table-data-column {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
.grid-table-totals-column {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    border-right: 1px black solid;

}


/* this is a div around the grid's <table> */
.grid-wrapper {
    margin: auto;
    max-width: 90%;
    /*
    width: 150px;
    */
    overflow: scroll;
    background: #ffe5ff;
}

.scroll-button {
    cursor: pointer;
    max-width: 5%;
    width: auto;
    height: 100%;
    border: 1px black solid;
    background-color: #db99db;
    /* box-shadow: 10px 10px 5px #888888; */
    border-radius: 25px;
}

/* this was from the first newgrid attempt
.turn-sideways {
    display: none;
}
*/

/* hide extra crap for phone displays
http://tobyho.com/2012/01/25/responsive-web-design/ */
@media screen and (max-width: 760px) {
    #site-instructions{
        display: none;
    }
    .grid-key {
        display:none;
    }
    #site-title {
        font: sans-serif;
        font-size: 100%;
        /* display: none; */
    }
    .message {
        font-size: 80%;
    }
}

/* this was from the first newgrid attempt
@media screen and (max-width: 400px) {
    .grid-table-wrapper {
        display: none;
    }
    .turn-sideways {
        display: block;
        border: 1px black solid;
        padding: 10px;
        margin: 10px;
    }
}
*/

/* https://www.filamentgroup.com/lab/select-css.html */
.login-selectbox {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.login-selectbox::-ms-expand {
    display: none;
}
.login-selectbox:hover {
    border-color: #888;
}
.login-selectbox:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
.login-selectbox option {
    font-weight:normal;
}

/* style input fields:
 * https://stackoverflow.com/questions/17042201/how-to-style-input-and-submit-button-with-css
 * */
input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px;
    background:lightgrey;
    border:10px black;
    cursor:pointer;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,.2);
    -moz-box-shadow:    0px 3px 15px rgba(0,0,0,.2);
    box-shadow:         0px 3px 15px rgba(0,0,0,.2);

}

.set-status-button-wide {
    -webkit-appearance: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,.2);
    -moz-box-shadow:    0px 3px 15px rgba(0,0,0,.2);
    box-shadow:         0px 3px 15px rgba(0,0,0,.2);
    display: block;
    margin: 5px 15px;
}
.set-status-button-small {
    display: none;
    margin: 5px 15px;
}

.users-current-status {
    background: #ffd0ff;
    padding: 5px 15px;
}

/* iphone5         320
 * iphone 6/7/8    375
 *    "     " plus 414
 * pixel 2         411
 */
@media all and (max-width: 850px) {
    body {
        margin: 20px;
    }
}

@media all and (max-width: 450px) {
    .event-table-head {
        display: none;
    }
    .event-table .cell-yes-no {
        display: inline;
    }
    .event-table-notes .abbr-expl {
        display: block;
    }
    body {
        margin: 2px;
    }
    .set-status-button-wide {
        display: none;
        margin: 5px 15px;
    }
    .set-status-button-small {
        display: block;
        margin: 5px 15px;
    }
}

.logtable th, .logtable td {
    border: 1px solid black;
    padding: 5px;
}

.logtable td {
    border-collaps: collapse;
}
.logtable tr:nth-child(odd) {
  background-color: rgb(255, 229, 255);
}

.errors {
    border: 1px solid black;
    background-color: yellow;
    margin: 40px;
}

.message {
    border: 1px solid black;
    background-color: lightgreen;
    margin: 20px;
    padding: 10px;
}
