
<h2>Activity Logs</h2>
<table class="logtable">
[% FOR line IN logs %]
    <tr>
        <td>[% line.timestamp.replace('T', ' ') %]</td>
        <td>[% line.level %]</td>
        <td>[% line.actor_id %]</td>
        <td>[% line.actor_name %]</td>
        <td>[% line.message %]</td>
    </tr>
[% END %]
</table>
